.idea/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn
bin/

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
/target/
.settings/org.eclipse.jdt.apt.core.prefs
.vscode/launch.json
.vscode/settings.json
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.classpath
.idea/
target/surefire-reports/com.pkaushik.safeHome.SafeHomeApplicationTests.txt
target/surefire-reports/com.pkaushik.safeHome.SafeHomeApplicationTests.txt
target/safeHome-0.0.1-SNAPSHOT.jar.original
src/main/java/com/pkaushik/safeHome/utils/APIKeys.java
target/surefire-reports/com.pkaushik.safeHome.SafeHomeApplicationTests.txt
target/surefire-reports/com.pkaushik.safeHome.SafeHomeApplicationTests.txt
target/safeHome-0.0.1-SNAPSHOT.jar.original
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
out/production/main/main.iml
out/test/test/test.iml
src/main/main.iml
src/test/test.iml
*.iml
target/surefire-reports/com.pkaushik.safeHome.SafeHomeApplicationTests.txt
*.xml
*.txt
target/
