pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn
bin/

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
/target/
.settings/org.eclipse.jdt.apt.core.prefs
.vscode/launch.json
.vscode/settings.json
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.classpath
target/surefire-reports/com.pkaushik.safeHome.SafeHomeApplicationTests.txt
target/surefire-reports/com.pkaushik.safeHome.SafeHomeApplicationTests.txt
target/safeHome-0.0.1-SNAPSHOT.jar.original
